*{
    margin: 0;
    padding: 0;
}

.dropdown{
    display: inline-block;
}
.dropdown .button{
    background-color: hsl(0, 38%, 58%);
    color:rgb(16, 15, 15);
    border:none;
    padding: 10px 15px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: rgb(10, 10, 10);
  
    padding: 10px 5px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: #faac5e ;

    min-width:20%;
    box-shadow: 1px 1px hsla(0, 0%, 0%, 0.8);

}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover .button{
    color: rgb(255, 162, 21);
}
.dropdown a:hover{
    color: rgb(2, 2, 2);
}
.fix{  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.join{
    background-color: orange;
    color: white;
    height: 56px;
    padding: 22px;
}
.hero{
    display: flexbox;
 font-size: x-large;
    width: 1200px;
    margin-top: 10px;
    margin-left:20px;
    height: 130px;  
    float:left;
    margin-right: 50px;

}
#preloader{
    background: white url(/Project!/img/WhatsApp_Image_2024-04-02_at_20.22.17_fd8dbc47-removebg-preview.png) no-repeat center center;
   background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.popo{
    background-image: url(/Project!/img/breadcrumbs.jpg);
}

.header1 {
    padding: 10px 0;
    text-align: center;
    position: relative;
}

/* Style for the line effect */
.header1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #f59a1a;
    transition: width 0.3s ease;
}

/* Hover effect */
.header1:hover::after {
    width: 100%;
}
.fb:hover{
    color:#3b5998;
}
.tw:hover{
    color:#00aced ;
}
.go:hover{
    color:#dd4b39 ;
}
.in:hover{
    color: #f23ad9;
}
.social-link li:link,
.social-link li:visited{
font-size: 160%;
}
.social-link li a:link,
.social-link li a:visited{
    text-decoration: none;
    border: 0;
    color: #eee;
}
.social-link li{
    display: inline;
    margin-right: 10px;
}

.social-link{  color: #eee;
    list-style: none;
    float: right;
}
